html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.react-flow__node-custom .react-flow__handle.connectable {
  border-color: #1a192b;
  background: #1a192b;

  &:hover {
    background: #1a192b;
  }
}
